.showitem{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/iron.jpg");
    background-size: cover;
    left: 0;
    top: 0;
}
.container{
    width: 300px;
    height: 300px;
    border: 1px rgb(176, 174, 174) solid;
    position: absolute;
    left: 50%;
    top:25%;
    transform: translate(-50%,0);
    background-color: rgba(248, 238, 238, 0.5);
    border-radius: 4%;

}
.lists{
    width: 100%;
    height: 268px;
    overflow:auto;
    margin-top: 2px;
    overflow-x: hidden;
    width: 100%;
}
.nolist{
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translate(-23%,0);
    font-size: 11px;
}
.clearall-clearcomplete{
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translate(-30%,0);
}